<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="clojure.data.generators" version="0.1.2.0" targetFramework="net40" />
  <package id="clojure.test.check" version="0.7.0.0" targetFramework="net40" />
  <package id="clojure.test.generative" version="0.5.0.1" targetFramework="net40" />
  <package id="clojure.tools.namespace" version="0.2.10.0" targetFramework="net40" />
</packages>