<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="clojure.core.specs.alpha" version="0.1.3" targetFramework="net40" />
  <package id="clojure.spec.alpha" version="0.1.97" targetFramework="net40" />
  <package id="DynamicLanguageRuntime" version="1.1.0" targetFramework="net40" />
</packages>