<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
  </configSections>

  <microsoft.scripting>
    <languages>
      <language names="ClojureCLR;Clojure;clj" extensions=".clj" displayName="ClojureCLR" type="clojure.lang.Runtime.ClojureContext, Clojure, Version=1.40.0., Culture=neutral, PublicKeyToken=null"/>
    </languages>

    <options>
      <!-- set language="Ruby" option="LibraryPaths" value="..\..\Languages\Ruby\libs\;..\..\..\External.LCA_RESTRICTED\Languages\Ruby\redist-libs\ruby\site_ruby\1.8\;..\..\..\External.LCA_RESTRICTED\Languages\Ruby\redist-libs\ruby\1.8\" /  -->
    </options>
  </microsoft.scripting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
